*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
body{ background:url(../images/fabric_plaid.jpg); padding-top: 32px; }

.btn{
	-webkit-border-radius: 0px;
    border-radius: 0px;
}
.container-fluid{padding-right:0 !important;margin-top:10px !important;}
.img-precontainer{
	margin: auto;
	width: 100%;
	text-align: center;
	background: white;
	border:none;
}
.img-container{
	height: 91px;
	width: 122px;
	padding: 0px;
	border:none;
	overflow: hidden;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
ul.breadcrumb{
	margin-bottom:0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 4px;
	padding-top: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.img-container * {
    vertical-align: middle;
}
.img-container.directory,.img-container-mini.directory{
	background-color: #dddddd;
}
#help{
	display: none;
}
/*\*//*/
.img-container {
    display: block;
}
.img-container span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
iframe{	
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
.upload-tabbable{
	margin-left: 5px;
	margin-right: 5px;
	.nav{
		margin:0px;
		li a{
			font-size: 13px;
			font-weight: 200;
			color: #777;
			text-shadow: 0 1px 0 #fff;
		}
	}
	.tab-content{
		padding: 5px;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-rigth: 1px solid #dddddd;
		background: white;
		margin-bottom: 5px;
		.java-help{
			font-size: 13px;
			font-weight: 200;
			color: #777;
			text-shadow: 0 1px 0 #fff;
			text-align: center;
		}
	}
}
input#filter-input{
	margin:0px;
	width: 84px;
	height: 26px;
	vertical-align: bottom;
	margin-bottom: 1px;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 12px;
}

.qq-uploader .span9{margin-left:14px !important;width:690px !important;}
.space10{ clear:both; height:10px; }

h4{ font-size:11px; font-weight:normal; margin: 0px; text-align: center; padding: 0px; margin-top:6px; line-height: 18px; }
h3{ font-size:14px; }
.boxes{ border:1px solid #CCCCCC; word-wrap: break-word; background:white;
-webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.2);box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.2); min-height:115px;
text-align: center;}
.container-fluid{ padding:0px 10px !important;}
.alert{
	margin-bottom:0px;
	padding: 5px;
	margin-top:5px;
}
.uploader{
	position:fixed;
	top:50px;
	left:14px;
	margin:auto;
	width:100%;
	z-index:9999;
	overflow: hidden;
	background:#eeeeee;
	padding-top:20px;
	border:1px solid #cccccc;
	display:none;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(1, 1, 1, 0.5);
        box-shadow:  0px 0px 10px 0px rgba(1, 1, 1, 0.5);
}
.download-form{
	margin-bottom:25px;
}
.grid li i{
	margin-left:2px;
	margin-right: 2px;
}
.box,.boxx{
	text-align: center;
	word-wrap: break-word;
	background: white;
	vertical-align: top;
	text-align: left;
	position: relative;
	border: none;
	border-bottom: 1px solid #cccccc;
	box-shadow: none;
	min-height: 30px;
	z-index: 100;
	padding: 4px;
}
.box .btn{
	width: 100%;
	background: none;
	box-shadow: none;
	border:none;
	z-index: 200;
}
.navbar{
	margin-bottom: 4px;
	.navbar-inner{
		border: none;
		min-height: 35px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		padding-bottom: 2px;
		margin: 0px;
		padding-right: 8px;		
		padding-left: 8px;
		.container-fluid{
			margin: 0px;
			margin-top: 0px !important;
			padding: 0px;
			.brand{
				display: none;
			}
			.filters span{
				margin-top:0px;
				font-size:13px;font-weight:200;color:#777;text-shadow:0 1px 0 #fff; }
		}
	}
}
.view-controller{
	text-align: left;
	.btn-group>.btn:first-child,.btn-group>.btn:last-child{
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
}

.filters .btn {margin-bottom: 2px; padding-left: 10px; padding-right: 10px; }
.filters .types{
	text-align: right;
}
@media(max-width:839px){
	body{
		padding-top: 0px;
	}
	.filters .types{
		text-align: left;
	}
	.navbar .navbar-inner .container-fluid .brand{
		display: block;
	}
	.navbar .navbar-inner{
		padding-bottom: 4px;
	}
	
	.container-fluid{
		margin:0px !important;
		padding: 0px;
	}
}

@media(min-width:400px) and (max-width:839px){
	.filters .row-fluid .half{
		width:48.61878453038674%;*width:48.56559304102504%; float:left;
	}
}
.tooltip.in{
	z-index: 9900;
	opacity:1;
	filter:alpha(opacity=1);
}

/* GRID */
.grid {
	padding: 10px 0px;
	margin: 0 auto;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}

.grid li {
	display: inline-block;
	width: 126px;
	margin: 5px;
	padding: 2px;
	vertical-align: top;
}

.grid figure {
	margin: 0;
	position: relative;
	display: block;
	width: 122px;
	margin: auto;
}

.grid figure .box {
	max-width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}

.grid figcaption {
	text-align: center;
	padding: 2px;
	padding-top: 8px;
	color: white;
	height: 30px;
	width: 118px;
	margin-left:2px;
	margin-right: 2px;
	position: absolute;
	top: auto;
	bottom: 0;
	-webkit-box-shadow: inset 0px 0px 8px 0px rgba(41, 41, 41, 0.5);
        box-shadow: inset 0px 0px 8px 0px rgba(41, 41, 41, 0.5);
}

.grid figcaption a{
	margin: 0px;
	padding: 3px;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid h4{
	font-family: Helvetica;
	text-align: center;
	color: black;
	padding: 0px;
	margin-bottom: 4px;
	margin-top: 4px;
}


/* Individual Caption Styles */


/* Caption Style 2 */
.cs-style-2 figure .box{
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}


.no-touch .cs-style-2 figure:hover .box:not(.no-effect),
.cs-style-2 figure.cs-hover .box:not(.no-effect) {
	-webkit-box-shadow:  0px 0px 4px 0px rgba(1, 1, 1, 0.5);
        box-shadow:  0px 0px 4px 0px rgba(1, 1, 1, 0.5);
	-webkit-transform: translateY(-26px);
	-moz-transform: translateY(-26px);
	-ms-transform: translateY(-26px);
	transform: translateY(-26px);
}

.img-container-mini{
	display: none;
}
a,a:hover{
	color:black;
	text-decoration: none;
}

.back-directory{
	.img-precontainer,.img-container-mini,.box{
		background: none;
	}
	background: #dddddd;
	background-color: rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0px 0px 12px 0px rgba(41, 41, 41, 0.5);
        box-shadow: inset 0px 0px 12px 0px rgba(41, 41, 41, 0.5);	
}

/* LIST VIEW */

.list-view.grid{
	li{
		width: 425px;
		margin: 0px;
	}
	figure{
		width:425px;
		&.back-directory{
			.box{
				background: none;
			}
		}
		.box{
			h4{
				font-size: 13px;
				text-align: left;
			}
			background: #fcfcfc;
			padding-left: 50px;
			padding-right: 120px;
			z-index: 10;
			-webkit-transition: none;
			-moz-transition: none;
			transition: none;
		}
		&:hover .box:not(.no-effect),
		&.cs-hover .box:not(.no-effect) {
			-webkit-box-shadow:  none;
			box-shadow:  none;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none
			transform: none;
		}
	}
	.img-container-mini{
		display: block;
		position: absolute;
		width: 45px;
		overflow: hidden;
		z-index: 200;
		text-align: center;
		img{
			margin: 2px;
			height: 30px;
		}
	}
	.img-container-mini.original-thumb{
		padding: 0px;
		img{
			height: auto;
			margin: 0px;
			width: 45px;
		}
	}
	.directory{
		.box{
			background: #dddddd;
		}
		box{
			padding: 0px;
			min-height: 10px;
		}
	}
	
	.img-precontainer{
		display: none;
	}
	
	figcaption{
		width: 120px;
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 100;
		bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		text-align: right;
		
	}	
}