# Ignore the contents of the upload and thumbnail directories
source/*
!source/Source.txt
thumbs/*
!thumbs/thumbs.txt
bower_components
node_modules

#Exclude compiled scripts and styles from repository
filemanager/js/*
filemanager/css/*
resources/tmp/*
filemanager/plugin.min.js
