.idea/
yarn-error.log
npm-debug.log
.DS_Store

# Ignore the contents of the upload and thumbnail directories
source/*
!source/source.txt
thumbs/*
!thumbs/thumbs.txt
node_modules

#Exclude compiled scripts and styles from repository
filemanager/css/*
filemanager/js/*
filemanager/plugin.min.js
resources/tmp/*
tinymce/plugins/responsivefilemanager/plugin.min.js
